:root {
  --dominant-color: #2C2C2E;
  --primary-color: #DCCBBC;
  --primary-color-1: #EEE;
  --secondary-color: #D1D3FF;
  --secondary-color-1: #333C6A;
  --primary-gradient: linear-gradient(114deg, #A0FFFE 0%, #A6FFDA 46.29%, #B7FFB0 96.84%);
  --primary-gradient-modified: linear-gradient(to left, #A6FFDA 46.29%, #B7FFB0 96.84%);
  --gradient-main-1: linear-gradient(190deg, #EEE 11.13%, #CAFCFF 85.94%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: var(--dominant-color);
  line-height: 1.3; }

.paragraph--1 {
  font-size: 1.6rem;
  font-family: 'Inter';
  font-weight: 600;
  text-transform: uppercase; }

.paragraph--1::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-10px); }

.paragraph--2 {
  font-size: 2.5rem;
  color: var(--secondary-color-1); }

.paragraph--3 {
  font-size: 2rem;
  font-family: 'Inter';
  color: var(--secondary-color-1); }

.heading {
  font-weight: 400;
  color: var(--secondary-color-1); }
  .heading__main, .heading__sub {
    display: block;
    text-align: center;
    font-weight: 400;
    line-height: 1; }
  .heading__main {
    font-size: 6rem; }
  .heading__sub {
    font-size: 5rem;
    font-style: italic; }
  .heading__span {
    display: block; }
  .heading--1 {
    color: var(--dominant-color); }
  .heading--2 {
    font-size: 3.8rem; }
  .heading--3 {
    font-size: 3rem; }

.u-margin-bottom {
  margin-bottom: 2rem; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-italic {
  font-style: italic; }

.u-text-center {
  text-align: center; }

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(8rem); }

.btn {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  z-index: 2;
  overflow: hidden; }
  .btn:link, .btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 5rem;
    border-radius: 10rem; }
  .btn--1 {
    background: var(--primary-gradient);
    color: inherit; }
  .btn--2 {
    border: 1px solid var(--secondary-color-1);
    color: var(--secondary-color-1); }

.card {
  border-radius: 2rem;
  position: sticky; }
  .cards {
    margin-top: 10rem;
    flex: 0 0 auto;
    width: 70%; }
  .card:not(:last-child) {
    margin-bottom: 3rem; }
  .card__heading {
    display: flex;
    align-items: center;
    padding: 3rem; }
    .card__heading > .heading--3 {
      margin-right: auto; }
  .card__figure {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 3rem 5rem 3rem; }
    .card__figure-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
    .card__figure-text, .card__figure-bg {
      flex: 1; }
  .card--1 {
    background-color: rgba(209, 211, 255, 0.65); }
  .card--2 {
    background-color: #cafcff; }
  .card--3 {
    background-color: #b7ffb0; }
  .card--4 {
    background-color: #fff; }

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  list-style: none; }

.header {
  min-height: 100vh;
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  flex-direction: column; }
  .header__nav {
    display: flex;
    align-self: center;
    flex: 0 0 auto;
    width: 95%;
    padding: 2rem 4rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50rem;
    position: absolute;
    transform: translateY(2rem);
    z-index: 10; }
  .header__logo {
    margin-right: auto; }
  .header__hero {
    display: flex;
    align-items: center; }
  .header__hero--1, .header__hero--2 {
    flex: 1; }
  .header__hero--1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8rem; }
  .header__background {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.logo {
  width: 15rem; }

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8); }

.about {
  display: flex;
  align-items: center;
  gap: 16rem; }
  .about__img, .about__text {
    flex: 1; }
  .about__text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; }
    .about__text > a {
      align-self: flex-start;
      margin-top: 4rem; }
  .about__background {
    display: block;
    width: 80%;
    height: 80%;
    object-fit: cover; }

.section--about {
  padding: 10rem 5rem;
  background-color: var(--secondary-color); }

.section--properties {
  padding: 10rem 0;
  background-color: var(--primary-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column; }

.section--quality {
  background: var(--gradient-main-1);
  padding: 8rem 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.section__plan {
  padding: 10rem 5rem;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .section__plan-collection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }
  .section__plan-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .section__plan-intro .paragraph--3 {
      flex: 0 0 auto;
      width: 67rem;
      text-align: center; }

.section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem; }
  .section__content:first-of-type {
    margin-bottom: 12rem; }

.section__write-up {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem; }

.section__collection {
  background-color: #fff;
  padding: 4rem 6rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem; }

.section__item {
  font-size: 1.6rem;
  font-family: 'Inter';
  font-weight: 400; }

.section__btn {
  background-color: transparent;
  border: none;
  outline: none; }
