// colors
:root {
  --dominant-color: #2C2C2E;
  --primary-color: rgb(219, 203, 189);
  --primary-color-1: #EEE;
  --secondary-color: #D1D3FF;
  --secondary-color-1: #333C6A;

  --color-underline: #B7FFB0;

  --primary-gradient: linear-gradient(114deg, #A0FFFE 0%, #A6FFDA 46.29%, #B7FFB0 96.84%);
  --primary-gradient-modified: linear-gradient(to left, #A6FFDA 46.29%, #B7FFB0 96.84%);

  --gradient-main-1: linear-gradient(190deg, #EEE 11.13%, #CAFCFF 85.94%);
}

$dominant-color: var(--dominant-color);
$primary-color: rgb(219, 203, 189);