.about {
  display: flex;
  align-items: center;
  gap: 16rem;


  &__img, &__text {
    flex: 1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    & > a {
      align-self: flex-start;
      margin-top: 4rem;
    }

    .heading .heading__span:nth-child(2) {
      font-size: 3.7rem;
    }
  }

  &__background {
    display: block;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}