.quality {

  &__content {
    @include flex;
    gap: 9rem;

    @include respond(phone) {
      flex-direction: column;
    }
    
    &:first-of-type {
      margin-bottom: 12rem;
    }
  }

  &__write-up, &__collection, &__figure {
    flex: 0 0 auto;
    width: 50%;

    @include respond(phone) {
      width: 80%;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__write-up {
    @include flex-new(column, center, flex-start);
    gap: 3rem;

    @include respond(phone) {
      align-items: center;
    }
  }

  &__collection {
    @include flex-new(column, center, flex-start);
    gap: 3.3rem;

    font-size: 2.3rem;
    background-color: #fff;
    padding: 3.7rem 8rem;
    border-radius: 2rem;
    list-style: none;
  }

  &__item {
    position: relative;
    font-size: 1.6rem;
    font-family: 'Inter';
    font-weight: 400;

    &::before {
      content: '';
      position: absolute;
      top: .4rem;
      left: 0;
      transform: translateX(-3rem);
      width: 1.2rem;
      height: 1.2rem;
      background-color: var(--secondary-color);
      border-radius: 50%;
    }
  }

  &__btn {
    border: none;
    outline: none;
    background-color: transparent;

    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    @include respond(phone) {
      width: 13rem;
      height: auto;
    }

    img {
      @include respond(phone) {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}