.btn {

  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 5rem;
    border-radius: 10rem;
  }

  &--1 {
    background: var(--primary-gradient);
    color: inherit;
  }

  &--2 {
    border: 1px solid var(--secondary-color-1);
    color: var(--secondary-color-1);
  }
}