@keyframes booming {
  0% {
    transform: scale(0.5);
    transition: transform 1s;
  }
  

  40% {
    transform: scale(0.6);
    transition: transform 1s;
  }

  60% {
    transform: scale(0.7);
    transition: transform 1s;
  }

  70% {
    transform: scale(1);
    transition: transform 2s;
  }

  100% {
    transform: scale(0.4);
    transition: transform 1s;
  }
}