.paragraph {

  &--1 {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &--1::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-10px);
  }

  &--2 {
    font-size: 2.5rem;
  }
}

.heading {

  &__heading-main,
  &__heading-sub {
    display: block;
    text-align: center;
    font-weight: 400;
    line-height: 1;
  }

  &__heading-main {
    font-size: 7rem;
  }

  &__heading-sub {
    font-size: 6rem;
    font-style: italic;
  }
}